<form #itemForm='ngForm' (ngSubmit)='onSubmit(itemForm)' class="addItemForm">

    <input required name="amount" type="number" class="input" placeholder="Amount" style="width: 100px;" [ngModel]='item.amount'> <!-- ngModel binds the values to the itemCard object -->
    <input required name="desc" type="text" class="input" placeholder="Description" style="width: 400px;" [ngModel]='item.desc'> <!-- ngModel binds the values to the itemCard object -->

    <button type="submit">Add</button>

</form>

<!-- ngModel binds the values to the itemCard object -->