<div class="itemListContainer">

    <div class="incomeColumn">
        <h1>Income</h1>

        <div *ngFor='let item of itemsArray'> <!-- for loop -->
            <app-item-card (cardClick)='onCardClicked()' (xButtonClick)='onDeleteButtonClicked(item)' *ngIf='item.amount >= 0' [item]=item></app-item-card> <!-- ngIf = only items greater than zero will be displayed -->
        </div>

    </div>

    <div class="expensesColumn">
        <h1>Expenses</h1>

        <div *ngFor='let item of itemsArray'> <!-- for loop -->
            <app-item-card (cardClick)='onCardClicked()' (xButtonClick)='onDeleteButtonClicked(item)' *ngIf='item.amount < 0' [item]=item></app-item-card> <!-- ngIf = only items less than zero will be displayed -->
        </div>

    </div>

</div>
