<div class="itemListContainer">

    <div class="incomeColumn">
        <h1>Income</h1>

        <div *ngFor='let item of itemsArray'> <!-- for loop -->
            <app-item-card *ngIf='item.amount >= 0' [isIncome]=true></app-item-card> <!-- ngIf = only items greater than zero will be displayed -->
        </div>

    </div>

    <div class="expensesColumn">
        <h1>Expenses</h1>

        <div *ngFor='let item of itemsArray'> <!-- for loop -->
            <app-item-card *ngIf='item.amount < 0' [isIncome]=false></app-item-card> <!-- ngIf = only items less than zero will be displayed -->
        </div>

    </div>

</div>
