/* You can add global styles to this file, and also import other style files */

//vars
$dark: rgb(30, 30, 53);
$light-grey:#f5f5f5;
$green: #00cc86;
$light-green: #bafacd;
$red: #dc3900;
$light-red: #ffe5e3;

body{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

*{
    font-family: 'Questrial', sans-serif;
}

// header
.header{
    background-image: linear-gradient(to right, rgb(215,180,250) , rgb(170,200,230));

    h1{
        text-align: center;
        padding: 20px;
        font-size: 27px;
        margin: 0;
    }
}

//totalBudget
.totalBudget{
    border: 1px solid $dark;
    height: 250px;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        color: white;
        font-size: 50px;
        font-weight: 100;

        &.green{
            color: $green;
        }

        &.red{
            color: $red;
        }
    }
}


//form
.addItemForm{
    // border: 2px solid $red;
    display: flex;
    justify-content: center;
    align-items: center;

    .input{
        background-color: $light-grey;
        padding: 10px;
        margin-right: 20px;
        border: none;
    }

    button{
        background-color: rgb(215,180,250);
        padding: 10px 20px;
        border: none;
    }
}