/* You can add global styles to this file, and also import other style files */

//vars
$dark: rgb(30, 30, 53);
$light-grey:#f5f5f5;
$green: #00cc86;
$light-green: #bafacd;
$red: #dc3900;
$light-red: #ffe5e3;

body{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

*{
    font-family: 'Questrial', sans-serif;
}

// header
.header{
    background-image: linear-gradient(to right, rgb(215,180,250) , rgb(170,200,230));

    h1{
        text-align: center;
        padding: 20px;
        font-size: 27px;
        margin: 0;
    }
}

//totalBudget
.totalBudget{
    border: 1px solid $dark;
    height: 250px;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        color: white;
        font-size: 50px;
        font-weight: 100;

        &.green{
            color: $green;
        }

        &.red{
            color: $red;
        }
    }
}

//form (component)
.addItemForm{
    // border: 2px solid $red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .input{
        background-color: $light-grey;
        padding: 10px;
        margin-right: 20px;
        border: none;
    }

    button{
        background-color: rgb(215,180,250);
        padding: 10px 20px;
        border: none;

        cursor: pointer;
    }
}

//income & expenses columns (component)
.itemListContainer{
    display: flex;
    justify-content: center;

    .incomeColumn, .expensesColumn {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 320px;

        h1{
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .incomeColumn{
        h1{color: $green;}
    }

    .expensesColumn{
        h1{color: $red;}
    }

}

//item card (component)
.itemCard{
    background-color: $light-grey;
    display: flex;
    width: 290px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    transition: background-color 0.2s ease-out;

    &:hover{
        .deleteIcon{
            opacity: 1;
            transform: scale(1);
        }

        background-color: darken($light-grey, 2%);
    }

    .desc{
        flex-grow: 1;
        margin-left:5px;
        margin: 16px;
    }

    .amount{
        margin: 8px;
        padding: 8px;
        border-radius: 3px;
    }


    .deleteIcon{
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        right: -15px;
        top: -15px;
        background-color: $dark;
        background-image: url('/assets/delete_icon.svg');
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        transform: scale(0);
        opacity: 0;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.income{
    .desc{
        color: $green;
    }
    .amount{
        background-color: $light-green;
    }
}

.expense{
    .desc{
        color: $red;
    }
    .amount{
        background-color: $light-red;
    }
}